.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.npmrc
node_modules/**
*.vsix
specs/**
.git/**
.github/**
*.md
!README.md
!CHANGELOG.md
!LICENSE
test/**
.prettierrc
.eslintignore
.editorconfig
*.log
.DS_Store
Thumbs.db
coverage/**
.nyc_output/**