.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.npmrc
node_modules/**
!node_modules/chokidar/**
!node_modules/fs-extra/**
!node_modules/anymatch/**
!node_modules/braces/**
!node_modules/fill-range/**
!node_modules/fsevents/**
!node_modules/glob-parent/**
!node_modules/is-binary-path/**
!node_modules/is-extglob/**
!node_modules/is-glob/**
!node_modules/is-number/**
!node_modules/normalize-path/**
!node_modules/picomatch/**
!node_modules/readdirp/**
!node_modules/to-regex-range/**
!node_modules/binary-extensions/**
!node_modules/graceful-fs/**
!node_modules/jsonfile/**
!node_modules/universalify/**
*.vsix
specs/**
.git/**
.github/**
*.md
!README.md
!CHANGELOG.md
!LICENSE
!icon.png
icon.svg
test/**
.prettierrc
.eslintignore
.editorconfig
*.log
.DS_Store
Thumbs.db
coverage/**
.nyc_output/**